.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  flex-direction: column;
}

.playOnline {
  font-weight: 700;
  border: none;
  background-color: #e4ca56;
  font-size: 60px;
  cursor: pointer;
  margin-top: 40vh;
  padding: 6px 10px;
  border-radius: 5px;
  outline: none;
}

.water-background{
  background-color: #4B495F;
}

.game-heading{
  padding: 10px 30px;
  border-radius: 5px;
  text-align: center;
  ;font-size: 40px;
}

.square-wrapper{
  display : grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}
.move-detection{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  width: 400px;
  
  
}

.finished-state{
  font-size: 30px;
  
  text-align: center;
}

.left, .right{
  height: 30px;
  width: 120px;
  background-color: red;
  
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 6px;
  text-align: center;
  background-color: #4B495F;
  font-size: 18px;
  font-weight: 600;
  
}

#namee{
  color: rgb(184, 46, 46);
}

.current-move-cross{
background-color: #3FA7F0 !important;
}

.current-move-circle{
  background-color: #DD7F9F !important;
  
}


/* .selectable{
  -webkit-user-select: auto;
  user-select: auto;
} */


